canvas {
    border: 1px solid black;
    margin:  auto;
    display: none;
    border-radius: 1.5em;
  }

  body {
    background-color: #457b9d;
  
  
  
  }

  .bg-cloud {
  width: 500px;
  position: absolute;
  z-index: -1;
  
  }

  #start-page{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 1em;
    width: 500px;
    height: 500px;

  }
